@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@font-face {font-family: 'SolaimanLipi'; src: local('SolaimanLipi'), url(solaimanlipi_normal.woff) format('woff');}
@font-face {font-family: 'GangaSagarMJ'; src: local('GangaSagarMJ'), url(GangaSagarMJ.woff) format('woff');}
@font-face {font-family: 'Yanone Kaffeesatz'; src: local('Yanone Kaffeesatz Regular'), url(Yanone.woff) format('woff');}
@font-face {font-family: 'Courgette';  src: local('Courgette'), url(Courgette.woff) format('woff');}
@font-face {font-family: 'SutonnyMJ';  src: local('SutonnyMJ'), url(SUTOM.woff) format('woff');}
/*@font-face {font-family: 'SolaimanLipi';  src: local('SolaimanLipi'), url(../files/SolaimanLipi.woff) format('woff');}*/
@charset "utf-8";

body{
	text-align:center;
	font-family:Courgette;
	font-size:15px;
	background:#fff;
	margin:0;padding:0;
}
.clear {
	clear: both;
}
*{	
	margin:0; 
	padding:0;
}
a{
color:#333;text-decoration:none;cursor:pointer;
font-family:Courgette;
}
a:hover{color:#c00;
font-family:Courgette;
}
.top {
	height: 5px; overflow:hidden; background:#b30e0a;
	-webkit-box-shadow:  0 0 7px rgba( 0, 0, 0, 0.3 );
	-moz-box-shadow:  0 0 5px rgba( 0, 0, 0, 0.3 );
	box-shadow:  0 0 15px rgba( 0, 0, 0, 0.7 );	
}
.ip {font-family: 'Courgette'; font-size: 26px; color: #116492}
.dateEN {font-family:'Courgette'; font-size: 12px; margin: 10px 0 0 0}
.dateBN {font-family:SolaimanLipi; font-size: 14px; margin: 5px 0 0 0}
.left {text-align:left;}
.right {text-align:right;}
.center {text-align:center;}

.i {width: 150px; height: 40px}
	div#logos {
		width: 150px; height: 40px; margin: 0 2px 5px 2px; overflow: hidden; text-align: center; float:left;
		border: 3px solid green; border-radius: 7px;
		-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
		transition: width 2s;
	}
div#logos:hover {
		border: 3px solid red; border-radius: 7px;
	}
div#logosTitle {
		width: 300px; height: 25px; background: #dddddd; color: #000000; font-weight: bold; margin: 0 0 15px 0; padding: 5px 0 0 0; overflow: hidden; 
		border-radius: 7px; 
		-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
		transition: width 1s;
	}
div#logosTitle:hover {
		width: 100%; background: #ff0000; color: #ffffff; 
	}

/*/////////// currency ///////////////*/
div.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
div.dropt:hover div {left: 0%; background: #ffffff;} 
div.dropt div {position: absolute; left: -9999px; margin: 0 0 50px 850px; padding: 3px 3px 3px 3px; }

p{margin:0px 0px 5px 0px;}
h1{font-size:1.1em;padding:0px;margin:0px;}
h2{font-size:1.3em;}
td.cur A { 
	color : #000000; 
	font-size: 12px;
	font-family : Arial; 
} 
td.cur A:hover { 
	color : #000000; 
	font-size: 12px;
	font-family : Arial; 
	text-decoration : underline; 
}
td.cur { 
	color : #000000; 
	font-size: 12px;
	font-family : Arial; 
} 
.area { 
	border-right : 1px solid #a2aeb9; 	
	border-top : 1px solid #a2aeb9; 
	border-left : 1px solid #a2aeb9; 
	border-bottom : 1px solid #a2aeb9; 
	font-size : 20px; 	
	color : #000020; 	
	font-family : Verdana; 
	font-weight: bold"
	height : 25px; 
	width : 200px;
	background-color : #ffffff; 
} 
/*/////////// currency ///////////////*/

/*/////////// COMMON STYLE ///////////*/
.container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 200px) and (max-width: 766px) {
	.m_none {display: none;}
	.bdr {padding: 0px; border: 10px solid #424a4d}	
	.cat_div {width: 99%}
	.img_sec {width:50%; height: auto}
	.img_body {width: 50%; height: auto}
	.img_sp {width: 50%; height: auto}
	.inner {float: left; width: 100%}
	.SecCol {width: 100%}
	.img_detail {width:100%; height: auto}
	.BanglaPaper{
	-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; 
	-webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; 
	-webkit-column-rule: 0px solid #000000; -moz-column-rule: 0px solid #000000; column-rule: 0px solid #000000; 
	text-align:left; padding: 0 20px 20px 20px
	}
}
@media (min-width:767px) and (max-width: 990px) {
	.container {width: 750px;}
	.bdr {padding: 0px; border: 10px solid #424a4d}
	.btn {margin: 30px 0 0 0}
	.t_none {display: none;}
	.cat_div {width: 48%}
	.cat_clr {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:200px; height: 150px}
	.img_body {width: 100px; height: 65px;}
	.img_sp {width: 100px; height: 75px;}
	.inner {float: left; width: 48%; padding-right: 1%}
	.SecCol {width: 70%}
	.img_detail {width:400px; height: auto}
	.BanglaPaper{
	-webkit-column-count: 4; -moz-column-count: 4; column-count: 4; 
	-webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; 
	-webkit-column-rule: 0px solid #000000; -moz-column-rule: 0px solid #000000; column-rule: 0px solid #000000; 
	text-align:left; padding: 0 20px 20px 20px
	}
}
@media (min-width:991px) {
    .container {width: 970px;}
	.bdr {padding: 0px; border: 10px solid #424a4d; border-top:none}
	.d_none {display: none;}
	.cat_div {width: 32%}
	.cat_clrs {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:200px; height: 150px}
	.img_body {width: 130px; height: 85px;}
	.img_sp {width: 100px; height: 75px;}
	.img_sp-int {height: 230px}
	.inner {float: left; width: 48%; padding-right: 1%}
	.SecCol {width: 70%}
	.img_detail {max-width:728px; height: auto; margin: 0 0 10px 0;}
	.BanglaPaper{
	-webkit-column-count: 5; -moz-column-count: 5; column-count: 5; 
	-webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; 
	-webkit-column-rule: 0px solid #000000; -moz-column-rule: 0px solid #000000; column-rule: 0px solid #000000; 
	text-align:left; padding: 0 20px 20px 20px
	}
}
@media (min-width:1150px) {
    .container {width: 1050px;}
	.bdr {padding: 0px; border: 10px solid #424a4d; border-top:none}
	.max_lead {max-height: 275px; overflow: hidden;}
	.max_soptlight {max-height: 175px; overflow: hidden;}
	.cat_div {width: 32%}
	.cat_clrs {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:250px; height: 175px}
	.img_body {width: 130px; height: 85px;}
	.img_sp {width: 100px; height: 75px;}
	.img_sp-int {height: 230px}
	.inner {float: left; width: 48%; padding-right: 1%}
	.SecCol {width: 70%}
	.BanglaPaper{
	-webkit-column-count: 5; -moz-column-count: 5; column-count: 5; 
	-webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; 
	-webkit-column-rule: 0px solid #000000; -moz-column-rule: 0px solid #000000; column-rule: 0px solid #000000; 
	text-align:left; padding: 0 20px 20px 20px
	}
}
@media (min-width:1200px) {
	.container {width: 1170px;}
	.bdr {padding: 0px; border: 10px solid #424a4d; border-top:none}
	.max_lead {max-height: 275px; overflow: hidden;}
	.max_soptlight {max-height: 175px; overflow: hidden;}
	.cat_div {width: 32%}
	.cat_clrs {clear: both}
	.img_spotlight {height: 175px;}
	.img_sec {width:250px; height: 175px}
	.img_body {width: 130px; height: 85px;}
	.img_sp {width: 100px; height: 75px;}
	.img_sp-int {height: 230px}
	.inner {float: left; width: 48%; padding-right: 1%}
	.SecCol {width: 60%}
	.BanglaPaper{
	-webkit-column-count: 5; -moz-column-count: 5; column-count: 5; 
	-webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; 
	-webkit-column-rule: 0px solid #000000; -moz-column-rule: 0px solid #000000; column-rule: 0px solid #000000; 
	text-align:left; padding: 0 20px 20px 20px
	}
}
.container {
    padding-right: 15px;
    padding-left: 15px;
	max-width: 100%
}
@media screen and (min-width:768px) {
.container {
    padding-right: 15px;
    padding-left: 15px;
	}
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}.h1,h1{font-size:36px}.h2,h2{font-size:30px}.h3,h3{font-size:24px}.h4,h4{font-size:18px}.h5,h5{font-size:14px}.h6,h6{font-size:12px}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}

.button_custom_style{
    padding: 10px 10px;
    background-color: #007cba;
    color: #fff;
    font-weight: bold;
}
.button_custom_style:hover{
    background-color:#770000;
}

.bijoy_button {
    width: 175px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.bijoy_button:hover {
    width: 175px;
    height: auto;   
    cursor: pointer;
    cursor: hand;
}
.unicode_button {
    width: 175px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.unicode_button:hover {
    width: 175px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.bijoyy_button {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.bijoyy_button:hover {
    width: 153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.unicodee_button {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.unicodee_button:hover {
    width: 153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.reset_button {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.reset_button:hover {
    width: 153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.copy_bijoy {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.copy_bijoy:hover {
    width: 153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.copy_unicode {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.copy_unicode:hover {
    width: 153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.copy_bijoyy {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.copy_bijoyy:hover {
    width: 153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}
.copy_unicodee {
    width: 153px;
    height: auto;
    border-radius: 5px;
    border: none;
}
.copy_unicodee:hover {
    width:153px;
    height: auto;
    cursor: pointer;
    cursor: hand;
}			

			/* Shutter Out Horizontal */
			.hvr-shutter-out-horizontal {
			  padding: 5px 10px 5px 10px; font-family: Roboto; font-size: 24px; font-weight: 100; border-radius: 6px; color: #fff;
			  display: inline-block;
			  vertical-align: middle;
			  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
			  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			  -moz-osx-font-smoothing: grayscale;
			  position: relative;
			  background: #3139F2;
			  -webkit-transition-property: color;
			  transition-property: color;
			  -webkit-transition-duration: 0.3s;
			  transition-duration: 0.3s;
			}
			.hvr-shutter-out-horizontal:before {   
			  padding: 5px 10px 5px 10px; font-family: Roboto; font-size: 24px; font-weight: 100; border-radius: 6px; color: #fff;
			  content: "";
			  position: absolute;
			  z-index: -1;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  background: #2098d1;
			  -webkit-transform: scaleX(0);
			  transform: scaleX(0);
			  -webkit-transform-origin: 50%;
			  transform-origin: 50%;
			  -webkit-transition-property: transform;
			  transition-property: transform;
			  -webkit-transition-duration: 0.3s;
			  transition-duration: 0.3s;
			  -webkit-transition-timing-function: ease-out;
			  transition-timing-function: ease-out;
			}
			.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
			  padding: 5px 10px 5px 10px; font-family: Roboto; font-size: 24px; font-weight: 100; border-radius: 6px; color: #fff;
			}
			.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
			  -webkit-transform: scaleX(1);
			  transform: scaleX(1);
			}
			.loanTxt {font-family: Roboto; font-size: 16px; padding: 15px 0 0 0; margin: 0 0 5px 0; text-align:left}
			.loanInput {
				font-family: Roboto; font-size: 20px; border: 1px solid #ddd; padding: 3px; border-bottom: 3px solid #ddd; width: 100%;
			}
			.loanInput:focus {
				border-bottom: 3px solid #3139F2;
			}
			.total_paid{font-family: Roboto; font-size: 14px; display:flex;justify-content:space-between; border-bottom: 1px solid #ddd; padding: 3px 0 3px 0; margin: 0 0 5px 0}


/* ########### Menu Start ############### */
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: Arial;
  font-size:16px;  
}
#cssmenu:after, #cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; 
}
#cssmenu #menu-button {
  display: none; 
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: '';   
}
#cssmenu > ul {
  box-shadow: inset 0 -0px 0 rgba(0, 0, 0, 0.05); background: #424a4d; padding: 6px 0 6px 0;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li > a {
  padding: 5px 6px 5px 6px;  
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold; 
  margin: 0 5px 0 0;
  border: 2px solid #424a4d;
  border-radius: 7px;
  margin: 0px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color:#ffffff; 
  background:#a40b10;
  border: 2px solid #ffffff;
  border-radius: 7px;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 0; 
}
#cssmenu > ul > li.has-sub.active > a::after, #cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff; 
}
#cssmenu ul ul {
  z-index: 2000;
  position: absolute;
  left: -9999px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;  
}
#cssmenu.align-right ul ul {
  text-align: right; 
}
#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;  
}
#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 0;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px; 
}
#cssmenu > ul > li > ul {
  top: 120px; 
}
#cssmenu > ul > li:hover > ul {
  top: 28px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0; 
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1; 
}
#cssmenu ul ul li a {
  text-decoration: none;
  padding: 7px 5px 5px 10px;
  width: 210px;
  font-size: 14px;
  color: #ffffff;
  background: #303E45;
  border-bottom: 1px solid #37474F;
  text-align:left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
  color: #ffffff; background: #2C393F;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;  
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent; 
}
@media (min-width:300px) and (max-width:1009px) {
  #cssmenu > ul > li.m_none > a {display: none;}
  #cssmenu {
    background: '';
	z-index: 2000;
  }
  #cssmenu > ul {    
	display: none;
  }
  #cssmenu > ul.open {
    display: block;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
  }
  #cssmenu.align-right > ul {
    float: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li > a {
    width: 100%;
    box-shadow: none;
    padding-left: 3px 0 2px 12px;
	background:#DBD9D9;
	color: #000000;
	text-align:left;
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	border-bottom: 1px solid #cccccc;
	}
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
	  border: 0px;
	  margin: 0px;
	  border-radius: 0px;
	  color:#ffffff;
	  background:#666666;
	  border-bottom: 1px solid #cccccc;
  }
  #cssmenu #menu-button {
    display: block;
    text-decoration: none;
    font-weight: normal;
	font-size: 18px;
    color: #ffffff;
    padding: 10px 4px 8px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
  #cssmenu ul ul,
  #cssmenu ul li:hover > ul,
  #cssmenu > ul > li > ul,
  #cssmenu ul ul ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul li:hover > ul,
  #cssmenu.align-right > ul > li > ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  #cssmenu ul ul li {
    width: 100%;
  }
  #cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 12px;
	background:#DBD9D9;
	color: #000000;
	border-bottom: 1px solid #cccccc;
  }
  #cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 25px;
    top: 12px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 25px;
    top: 22px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}


element {

}
.footer {

    background: #007cba;
    font-size: 17px;
    color: #eee;
    padding: 60px 0px 20px 0px;
    margin-top: 50px;

}

.text-footer {

    font-size: 17px;
    font-color: #eee;
    padding: 60px 0px 20px 0px;
    margin-top: 15px;

}

.bn-text {

    font-size: 17px;
    color: #FF0000;
    
}
/* ########### Menu End ############### */